page-scrapbook {

    #nav-bar {
        height:75px;
        width: 100%;
    }

    #ion-title {
        height:22px;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin-top: 10px;
        margin-bottom:26px;
        padding-top:40px;
    }

    .help-logo{
        background-image: url('../assets/imgs/icon-help-now.png');
        background-size: cover;
        max-width: 100%;
        height:30px;
        width:45px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: auto;
        margin-right: auto;
        margin-top:-6px;
        color: rgb(246, 69, 69);
    }

    #help {
        height: 16px;
        color: rgb(246, 69, 69);
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-weight:700;
        font-size:13px;
        margin-top:10px;
        margin-right: 13px;
        margin-bottom: 13px;
    }

    #memory-btn {
            height:60px;
            width: 250px;
            border-radius: 2px;
            background-color: #559AD1;
            // margin-left:63px;
            // margin-right: 62px;
            font-size:21px;
            font-family: 'Avenir Rounded demi', Arial, sans-serif;
            // padding-top: 18px;
            // padding-bottom:17px;
            // padding-right:45px;
            // padding-left: 45px;
            font-size: 1.8rem;
         
    }

    #youtubePlayButton{
        height:37px;
        width: 110px;
        border-radius: 4px;
        background-color: #559AD1;
        font-size:16px;
        color: #ffffff;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        padding-top:8px;
        padding-bottom:9px;
        margin-right:10px;
        margin-left:0px;
        
     
    }

    /* Masonry Card Styling */
    #scrapbook-title{
      font-size: 16px;
      font-family: 'Avenir Rounded reg', Arial, sans-serif;
      margin-top:3px;
      margin-left:9px;
      font-weight: 700;
      margin-bottom:9px;
      color: #313745;

    }

    .ytp-large-play-button.ytp-button{
        background: none!important
    }
    // .ytp-large-play-button ytp-button{
    //     position:none!important;
    // }


    .ytp-large-play-button{
        position: none!important;
    }

    #ion-date{
      font-size:13px;
      margin-top:13px;
      color: #313745;
    }
    #ion-info{
     font-size:12px;
     margin-left: 9px;
     font-family: 'Avenir Rounded reg', Arial, sans-serif;
     font-weight: 700;
     color: #313745;

    }

    .iFrame{
        margin-left:4px;
        margin-top:2px;
        margin-bottom:10px;
    }

    .ytp-icon-large-play-button-hover {
        height:0px !important;
        width: 0px !important;
    }

    .toolbar-title-ios{
        margin-top:7px;
    }

    .post-description{
        border-bottom: 0px solid #ffffff !important;
    }

    .icon-play{
        padding-right:5px;
    }

   
/* Masonry Cards */
.pins {
    column-count: 2;
}

.pin {
    display: inline-block;
}

.card {
    margin-top: 10px;
    // width: 99%;
   
}

ion-avatar {
    margin: 0 !important;
    
}

.item ion-avatar img {
    width: 155px  ;
    height: auto;
}

.post-description {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

// Media queries
@media (min-width: 480px) {
    .pins {
        column-count: 3;
    }
    .item ion-avatar img {
        width:  7vw !important;
        height: 7vw !important;
    }
}

@media (min-width: 640px) {
    .pins {
        column-count: 4;
    }
    .item ion-avatar img {
        width:  5vw !important;
        height: 5vw !important;
        margin: 6px;
    }
}

.aff-text{
    text-align: center;
    font-family: 'Avenir Rounded med', Arial, sans-serif;
    font-size: 15px;
    color: #5a6274;	
    padding-top:10px;
    padding-bottom:4px;
}

.play-btn{
  background-color: #559AD1;
  width:77px;
  height: 35px;
  font-family: 'Avenir Rounded demi', Arial, sans-serif;
  border-radius: 2px;
  margin-left:10px;
}

.card-ios p{
    padding-bottom:10px;
}


}
