page-scrapbook {

    #nav-bar {
        height:75px;
        width: 100%;
    }

    #ion-title {
        height:22px;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin-top: 27px;
        margin-bottom:26px;
    }

    #help {
        height: 16px;
        color: #F57D31;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size:13px;
        margin-top:46px;
        margin-right: 14px;
        margin-bottom: 13px;
    }

    #memory-btn {
            height:60px;
            width: 250px;
            border-radius: 2px;
            background-color: #559AD1;
            margin-left:63px;
            margin-right: 62px;
            font-size:21px;
            font-family: 'Avenir Rounded demi', Arial, sans-serif;
            padding-top: 18px;
            padding-bottom:17px;
            padding-right:45px;
            padding-left: 45px;
         
    }

    #youtubePlayButton{
        height:37px;
        width: 110px;
        border-radius: 4px;
        background-color: #559AD1;
        font-size:16px;
        color: #ffffff;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        padding-top:8px;
        padding-bottom:9px;
        margin-right:10px;
        margin-left:0px;
     
    }

    /* Masonry Card Styling */
    #ion-title{
      font-size: 16px;
      font-family: 'Avenir Rounded reg', Arial, sans-serif;
      margin-top:3px;
      font-weight: 700;
      margin-bottom:9px;
      color: #313745;
    }

    #ion-date{
      font-size:8px;
      margin-top:13px;
      color: #313745;
    }
    #ion-info{
     font-size:12px;
     font-family: 'Avenir Rounded reg', Arial, sans-serif;
     font-weight: 700;
     color: #313745;

    }



   
   

/* Masonry Cards */
.pins {
    column-count: 2;
}

.pin {
    display: inline-block;
}

.card {
    margin-top: 10px;

}

ion-avatar {
    margin: 0 !important;
    
}

.item ion-avatar img {
    width: 155px ;
    height: 9vw;
}

.post-description {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

// Media queries
@media (min-width: 480px) {
    .pins {
        column-count: 3;
    }
    .item ion-avatar img {
        width:  7vw !important;
        height: 7vw !important;
    }
}

@media (min-width: 640px) {
    .pins {
        column-count: 4;
    }
    .item ion-avatar img {
        width:  5vw !important;
        height: 5vw !important;
        margin: 6px;
    }
}


}
