page-login {

    #img-logo{
        height: 179px;
        width: 250px;
        margin-left:45px;
        margin-right:60px;
        margin-top:19px;
        margin-bottom:10px;
        padding-top:10px;
    }

  

    #text-line {
        height:24px;
        width: 100%;
        color: #313745;
        font-size:20px;
        font-family: 'Avenir Rounded Med', Arial, sans-serif;
        font-weight:500;
        line-height: 24px;
        text-align: center;
        padding-right:42px;
        padding-left:43px;
        padding-top:9px;
        padding-bottom:24px;

    }

    #Forgot-line {
        height: 18px;
        color: #5B6275;
        font-family: 'Avenir Rounded Med', Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        background: transparent;

    }
    #forgot {
        padding-top:0px;
        padding-left:42px;
        padding-right:43px;
        padding-bottom:130px;

    }

 
#input-1 {
    height:60px;
    width:80px;
    padding-top:0px;
    float: left;
  
  
}
#input-2 {
    height:60px;
    width:80px;
    padding-top:0px;
    float: left;         
}
#input-3 {
    height:60px;
    width:80px;
    padding-top:0px;
    float: left;
}
#input-4 {
    height:60px;
    width:80px;
    padding-top:0px;
    float: left;
}

    #login-btn {
        height:60px;
        width: 250px;
        border-radius: 2px;
        background-color: #559AD1;
        font-family: 'Avenir Rounded Demi', Arial, sans-serif;
        font-weight: 500;
        font-size:21px;
        line-height: 25px;
    
    }
    #login {
        padding-bottom:23px;
        padding-top:10px;
        padding-right:62px;
        padding-left:62px;
        font-size:22px;
    
    }
   
    #create-btn {
        display: block !important;
        width:100% !important;
        height: 78px;
        background-color: #5B6275;
        font-size: 18px;
        font-family: 'Avenir Rounded', Arial, sans-serif;
        font-weight: 22px;
        
    }

    .button-inner{
        margin-top: -8px !important;
    }
    .footer{
        margin-top:157%;
    }
 
    .footer-toolbar{
        padding: 0 !important;
        
        .toolbar-background{
            background-color: transparent !important;
            border: none !important;
          
        }
    }

    .button-ios{
        margin:0.0rem;
    }

    .button-inner {
        margin-top: 0px !important;
    }

.toolbar-ios{
    padding:0px;
    padding-left:0px;
    padding-right:0px;
    // min-height: 0px;
}


.toast-ios .toast-message{
    font-family: 'Avenir Rounded Demi'!important;
}
    
}
    


