page-login {

    #text-line {
        height:24px;
        width:390px;
        color: #313745;
        font-size:20px;
        font-family: 'Avenir Rounded reg', Arial, sans-serif;
        line-height: 24px;
        text-align: center;
        padding-right:42px;
        padding-left:43px;
        padding-top:29px;
        padding-bottom:24px;
    }

    #Forgot-line {
        height: 18px;
        width:290px;
        color: #5B6275;
        font-family: 'Avenir Rounded reg', Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
    }
    #forgot {
        padding-top:0px;
        padding-left:42px;
        padding-right:43px;

    }

    #input-1 {
        height:60px;
        width:60px;
        padding-top:0px;
       
    }
    #input-2 {
        height:60px;
        width:60px;
        padding-top:0px;
    }
    #input-3 {
        height:60px;
        width:60px;
        padding-top:0px;
    }
    #input-4 {
        height:60px;
        width:60px;
        padding-top:0px;
    }

    #login-btn {
        height:60px;
        width: 250px;
        border-radius: 2px;
        background-color: #559AD1;
     
    }

    #login {
        padding-bottom:23px;
        padding-top:110px;
        padding-right:62px;
        padding-left:62px;
    }
   
      
    }
    

