page-dashboard {

    .toolbar-background {
        background-color: #FAF4EA;
    
    }
    #nav-bar {
        height:80px;
        width: 100%;
    }

    .HelpBtn {
        height: 210px;	
        width: 160px;	
        color: #313745;	
        font-family: 'Avenir Rounded reg', Arial, sans-serif;	
        font-weight:600;
        font-size: 16px;		
        line-height: 20px;
        text-align: center;
        padding-top: 155px;
        padding-bottom: 35px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .HelpNow {
        height: 80px;
        width: 80px;
        padding-top: 37px;
        padding-bottom: 93px;
        padding-right: 40px;
        padding-left: 40px;

    }

    .PlanBtn {
        height: 210px;	
        width: 160px;	
        color: #313745;	
        font-family: 'Avenir Rounded reg', Arial, sans-serif;	
        font-size: 16px;		
        line-height: 20px;
        font-weight:600;
        text-align: center;
        padding-top: 155px;
        padding-bottom: 35px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .ScrapbookBtn {
        height: 210px;	
        width: 160px;	
        color: #313745;	
        font-family: 'Avenir Rounded reg', Arial, sans-serif;	
        font-weight:600;
        font-size: 16px;	
        line-height: 20px;
        text-align: center;
        padding-top: 155px;
        padding-bottom: 35px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .CreatePlanBtn {
        height: 210px;	
        width: 160px;	
        color: #313745;	
        font-family: 'Avenir Rounded reg', Arial, sans-serif;	
        font-weight:600;
        font-size: 16px;		
        line-height: 20px;
        text-align: center;
        padding-top: 155px;
        padding-bottom: 35px;
        padding-left: 5px;
        padding-right: 5px;
    }

    /* Images */
    #logo {
        height: 61px;
        width: 86px;
        margin-top:4px;
        margin-left:90px;
        margin-right:144px;
    }
    #img {
        height: 88px;
        width: 95px;
    }
    #ion-img{
       margin-top: -120px;
       margin-bottom:38px;
       margin-left: 35px;
       margin-right:40px;
       background: #ffffff
     
    }
    #img-bee{
        height:91px;
        width:109px;
        margin-left:-28px;
    }

    .card-ios {
        margin: 0;
    }

    .card-md{
        margin:0px;
    }
    
    .nav-logo{
        background-image: url('../assets/imgs/newnavlogo.png');
        background-size: cover;
        max-width: 100%;
        height:49px;
        width:100px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: auto;
        margin-right: auto;
        margin-top:3px;

    }

    .aff-text{
        text-align: center;
        font-family: 'Avenir Rounded reg', Arial, sans-serif;
        font-weight:600;
        font-size: 15px;
        color: #5a6274;	
        padding-top:10px;
        padding-bottom:4px;
    }

    .ion-img.img-loaded img{
        display: block;
        width:115px !important;
    }

    }

