page-triggers {
    #nav-bar {
        height:75px;
        width: 100%;
    }

    #text-line {
        height: 22px;
        width: 139px;
        color: #313745;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size:21px;
        font-weight: 500;
        line-height: 22px;
        padding-top:25px;
        padding-bottom: 44px;
        padding-left:24px;

    }

    #ion-title {
        height:22px;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin-top: 27px;
        margin-bottom:26px;
    }

    .help-logo{
        background-image: url('../assets/imgs/icon-help-now.png');
        background-size: cover;
        max-width: 100%;
        height:30px;
        width:45px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: auto;
        margin-right: auto;
        margin-top:5px;
    }

    #help {
        height: 16px;
        color: rgb(246, 69, 69);;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-weight:700;
        font-size:13px;
        margin-top:10px;
        margin-right: 13px;
        margin-bottom: 13px;
    }
    #back {
        height: 19px;
        width: 73.45px;	
        color: #53A9ED;	
        font-family: Helvetica;	
        font-size: 16px;	
        line-height: 19px;
        margin-top:28px;
        margin-bottom: 28px;
        margin-left:10px;

    }
#ion-card {
    height: 65px;	
    width: 100%;	
    margin-left:5px;
    border-radius: 3px;	
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
    margin-bottom:25px;
     
}

    #trigger-list {
        padding-top:20px;
        font-size:17px;
    
    }
     .label-ios {
         font-size:17px;
         font-family: 'Avenir Rounded med', Arial, sans-serif;
         color: #313745;
         padding-top:-21px;
         padding-bottom:28px;
     }

    #ios-information-circle-outline {
   padding-top:20px;
       
    }

    #info-icon {
        margin-top: 70px;
        margin-left:5px;
        font-size: 22px;
       padding-right: 62px;
       margin-top:47px;
    }

    #add {
        float:right;
        padding-bottom:33px;
        padding-top:55px;
        padding-right:10px;
        margin-right:-35px;
       
       }
       #plus {
        font-weight: 900;
        font-weight:bold;
        margin-right: 5px;
        padding-top:-6px;
    }
      
    #add-trigger-btn {
        height:47px;
        width:100%;
        border-radius: 4px;
        background-color: #559AD1;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        margin-top:-23px;
        font-size:1.3rem;
    }

    #Edit {
        height: 65px;
        width:60px;
        background-color:#D3D5DC;
        font-family: 'Avenir Rounded reg', Arial, sans-serif;
        font-size: 14px;
        padding-bottom:16px;
    
    }
    #Delete {
        height: 65px;
        width:60px;
        background-color:#BBBDC5;
        font-family: 'Avenir Rounded reg', Arial, sans-serif;
        font-size:14px;
        padding-bottom:16px;
    }


   


}
