page-triggers {

    #text-line {
        height: 22px;
        width: 139px;
        color: #313745;
        font-family: 'Avenir Rounded bold', Arial, sans-serif;
        font-size:20px;
        font-weight: 500;
        line-height: 22px;
        padding-top:48px;
        padding-bottom: 44px;
        padding-left:24px;


    }
    #trigger-list {
        padding-top:20px;
        font-size:17px;

    }

    #ios-information-circle-outline {
   padding-top:20px;
       
    }

    #info-icon {
        margin-top: 73px;
        margin-left:5px;
        height: 25px;
        width: 25px;
        font-weight: bold;
        padding-right: 62px;
     
    }
    #add {
        float:right;
        padding-bottom:33px;
        padding-top:55px;
        padding-right:10px;
       
       }
      
    #add-trigger-btn {
        height:47px;
        width:140px;
        border-radius: 4px;
        background-color: #559AD1;
    }

   #Edit {
    background-color:#D3D5DC;
   }
   #Delete {
    background-color:#BBBDC5;
   }


}
