<!--
  Generated template for the AddDistractionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
        <ion-navbar id="nav-bar">
            <!-- <button ion-button menuToggle left>
            </button> -->
            <ion-title id="ion-title">
             Add Distraction
            </ion-title>
            <ion-buttons end>
              <button ion-button (click)="doCancel()">
                <ion-icon id="cancel" name="">Cancel</ion-icon>
              </button>
            </ion-buttons>
          </ion-navbar>
    </ion-header>


<ion-content padding>

  
    <form [formGroup]="userDetails" (ngSubmit)="saveDistractions()">

  <h1 id="text-line-1"> Select how you can feel: </h1>
 
  <ion-row>
      <ion-list formControlName="emojis" radio-group>
              <ion-row>
              <ion-col col-4 *ngFor="let emoji of emojiArray">
                      <ion-item id="avatar-items">
                              <ion-thumbnail item-start>
                                      <img id="ion-img-1" [src]="emoji.image">
                              </ion-thumbnail>
                              <ion-radio class="avatar-radios" value="{{emoji.image}}" (ionSelect)='showConfirmAlert(emoji.image)'>
                              </ion-radio>
                  </ion-item>
              </ion-col>
              </ion-row>


   
      </ion-list>

    </ion-row>
<!-- 
      <ion-col class="col-img">
        <label>
        <input type="radio" name="fb" value="emoji-notbad"/>
        <img id="img-select-1"src="assets/imgs/emoji-not-bad.png">
        </label>
    
      <label>
        <input type="radio" name="fb" value="emoji-support"/>
        <img id="img-select" src="assets/imgs/emoji-need-support.png">
      </label>
  
        <label>
          <input type="radio" name="fb" value="emoji-struggling"/>
          <img id="img-select" src="assets/imgs/emoji-really-struggling.png">
        </label>
      </ion-col> -->




  <h1 id="text-line-2"> What distraction technique would you use when you feel this way? </h1>

  <ion-item no-lines id="distraction-input-1">
    <ion-input id="ion-input" type="text" style="background-color:#FAF4EA;" formControlName="distractionTitle" placeholder="* Enter distraction title"></ion-input>
  </ion-item>

  <ion-item no-lines id="distraction-input">
    <ion-input id="ion-input" type="text" style="background-color:#FAF4EA;" formControlName="distraction" placeholder="* Enter your own distraction"></ion-input>
  </ion-item>

  <ion-item no-lines id="distraction-input-gallery">
    <button ion-button full id="ion-input-gallery" type="button" style="background-color:#FAF4EA;"  (click)="accessGallery()">Add photo from your gallery</button>
    <img [src]="baseImage" *ngIf="baseImage" />
    
  </ion-item>

 
  <ion-item no-lines id="distraction-input-website">
    <ion-input id="ion-input" type="text" style="background-color:#FAF4EA;" formControlName="websiteLink" placeholder="Add website www."></ion-input>
  </ion-item>

  <ion-item no-lines id="distraction-input">
    <ion-input id="ion-input" type="text" style="background-color:#FAF4EA;" formControlName="youtubeLink" placeholder="Add youtube link"></ion-input>
  </ion-item>

  <div>
      <button ion-button color="primary" type="submit" [disabled]="!userDetails.valid" id="save-distraction">SAVE</button>

  </div>
</form>


<!-- <ion-row>
    <ion-col>

          <button ion-button color="primary" (click)="accessGallery()">Open Gallery</button>
          <img [src]="base64Image" *ngIf="base64Image" />
     
</ion-col>
</ion-row> -->

</ion-content>



   
  <!-- <ion-list formControlName="emojis" radio-group> -->
  <!-- <ion-col class="col">
      <label>
      <input type="checkbox" name="fb" value="emoji-notbad"/>
      <img id="img-select-1"src="assets/imgs/emoji-not-bad.png">
      </label>
  
    <label>
      <input type="checkbox" name="fb" value="emoji-support"/>
      <img id="img-select" src="assets/imgs/emoji-need-support.png">
    </label>

      <label>
        <input type="checkbox" name="fb" value="emoji-struggling"/>
        <img id="img-select" src="assets/imgs/emoji-really-struggling.png">
      </label>
    </ion-col> -->
    <!-- </ion-list> -->