page-edit-trigger {
    #nav-bar {
        height:75px;
        width: 100%;
    }

    #ion-button {
        height: 65px;
        width:60px;
        background-color:#D3D5DC;
        font-family: 'Avenir Rounded reg', Arial, sans-serif;
        font-size: 14px;
        padding-bottom:16px;
    }
}
