page-edit-trigger {
    #nav-bar {
        height:75px;
        width: 100%;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
    }

    #ion-button {
        height: 65px;
        width:60px;
        background-color:#D3D5DC;
        font-family: 'Avenir Rounded reg', Arial, sans-serif;
        font-size: 14px;
        padding-bottom:16px;
    }
    #cancel {
        height: 19px;
        width: 73.45px;
        color: #53A9ED;
        font-size: 16px;
        line-height: 19px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #main-text {
        font-family: 'Avenir Rounded med', Arial, sans-serif;	
        font-size: 22px;
        text-align: center;
        margin-right:25px;
        margin-left:25px;
        margin-top: 30px;
    }

    #trigger-input {
        height: 60px;
        width: 290px;
        background-color: #FAF4EA;
        margin-top: 35px;
        margin-right: 42px;
        margin-left: 43px;
    }

    #save-trigger {
        height: 60px;
        width: 250px;
        border-radius: 2px;
        background-color: #559AD1;
        font-size: 21px;
        font-family: 'Avenir Rounded Demi', Arial, sans-serif;	
        font-weight: 500;
        margin-top: 28px;
        margin-left:63px;
        margin-right: 62px;
    }

    #skip-btn {
        font-family: 'Avenir Rounded med', Arial, sans-serif;	
        font-size:18px;
        font-weight:500px;
        color:#5B6275;
        margin-right: 42px;
        margin-left:43px;
        text-align:center;
        margin-top:21px;
    }

    // #trigger-option {
    //     font-family: Arial, Helvetica, sans-serif;
    //     font-size:10px;


    // }

    input:focus::-webkit-input-placeholder {
        color: transparent;
    }
}
