<ion-menu [content]="content">
  <ion-header>
  <ion-img id="avatar-img" src=""></ion-img>
  </ion-header>

  <ion-content>
    <ion-list no-lines id="ion-list" mode="md">
        <!-- <ion-item class="ion-text" menu-close (click)="gotoHome()" >
            Home
          </ion-item>
        <ion-item class="ion-text" menu-close (click)="gotoHelp()" >
          <ion-img id="nav-img" src=""></ion-img>
          Help Right Now
        </ion-item> -->
      <button id="ion-text" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" mode="md">
          <ion-icon  id="nav-img" name="call" item-left *ngIf="p.component =='HelpNowPage' "></ion-icon>          
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>