<ion-menu [content]="content">
  <ion-header>
  <ion-col text-center>
      <div class="nav-logo">
    <!-- <ion-img id="logo" src="assets/imgs/navlogo.png"></ion-img> -->
    </div>
  </ion-col>
  </ion-header>

  <ion-content>
    <ion-list no-lines id="ion-list" mode="md">
        <!-- <ion-item class="ion-text" menu-close (click)="gotoHome()" >
            Home
          </ion-item>
        <ion-item class="ion-text" menu-close (click)="gotoHelp()" >
          <ion-img id="nav-img" src=""></ion-img>
          Help Right Now
        </ion-item> -->
      <button id="ion-text" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" mode="md">
          <div class="help-now" item-left *ngIf="p.component =='HelpNowPage' "></div>          
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

  <ion-footer>
      <ion-col text-center>
          <div class="hsc-logo">
        </div>
      </ion-col>
    </ion-footer>

</ion-menu>



<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>