page-help-now {
    #nav-bar {
        height:75px;
        width: 100%;
    }


    #cancel {
        height: 19px;
        width: 73.45px;
        color: #53A9ED;
        font-size: 16px;
        line-height: 19px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #text-line-2 {
        height: 22px;
        color: #313745;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size: 18px;   
        padding-top: 49px;
        margin-left: -3px;
        margin-top:-13px;
        align-content: center;
        margin-right:52px;
        margin-bottom: 26px;
    }
    #text-line {
        height: 46px;
        width: 293px;	
        color: #313745;	
        font-family: 'Avenir Rounded med', Arial, sans-serif;
        font-size: 20px;	
   	
        line-height: 23px;
        margin-top: 34px;
        margin-right:43px;
        margin-left: 39px;
    }


    #emergency-contacts {
        height: 21px;
        width: 297px;	
        color: #F68B45;	
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size: 21px;	
        line-height: 21px;
        margin-left:40px;
        margin-right:38px;
    }

    #other-contacts {
        height: 21px;
        width: 297px;	
        color: rgb(246, 69, 69);	
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size: 21px;	
        line-height: 21px;
        margin-top: 30px;
        margin-left:40px;
        margin-right:38px;
    }
    
    #other-1 {
       
        margin-left:40px;
        margin-bottom: 16px;
        font-family: 'Avenir Rounded med', Arial, sans-serif;
        height:24px;
        color: #313745;
        font-size:20px;
        font-weight: 500;
        line-height: 24px;
    }
    #other {
        margin-left:40px;
        margin-bottom: 16px;
        font-family: 'Avenir Rounded med', Arial, sans-serif;
        height:24px;
        color: #313745;
        font-size:20px;
        font-weight: 500;
        line-height: 24px;
    }

    #opacity-img{
        opacity: 0.5;
        height: 293px;
        width: 293px;
        margin-left:194px;
        margin-top:-110px;
    }

    #link-1 {
        float:right;
        margin-top: -49px;
        margin-right: 118px;
        height: 23px;
        color: #559AD1;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size: 19px;
        font-weight: 500;
        line-height: 23px;
    }

    #link-2 {
        float:right;
        margin-top: -49px;
        margin-right: 118px;
        height: 23px;
        color: #559AD1;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size: 19px;
        font-weight: 500;
        line-height: 23px;
    }
    #link-3 {
        float:right;
        margin-top: -49px;
        margin-right: 118px;
        height: 23px;
        color: #559AD1;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size: 19px;
        font-weight: 500;
        line-height: 23px;
        margin-bottom: 0px;
    }

    #call-link-1 {
      height: 23px;
      color: #559AD1;
      font-family: 'Avenir Rounded demi', Arial, sans-serif;
      font-size: 19px;
      font-weight: 500;
      line-height: 23px;
    }
    #call-link-2 {
        height: 23px;
        color: #559AD1;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size: 19px;
        font-weight: 500;
        line-height: 23px;
      }
      #call-link-3 {
        height: 23px;
        color: #559AD1;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size: 19px;
        font-weight: 500;
        line-height: 23px;
    
      }

      .back-button.show-back-button {
        //   display: none;
      }

}
