page-distractions-info-modal {
    #text-line {
        height:24px;
        width:100%;
        color: #313745;
        font-size:16px;
        font-family: 'Avenir Rounded reg', Arial, sans-serif;
        line-height: 24px;
        text-align: left;
        // padding-right:42px;
        // padding-left:43px;
        // padding-top:29px;
        // padding-bottom:24px;
        margin-left:20px;
        }
     #close-btn {
        height:60px;
        width: 100%;
        border-radius: 2px;
        background-color: #559AD1;
        font-size: 21px;
        margin-top:37px;
        font-family: 'Avenir Rounded Demi', Arial, sans-serif;
        font-size:1.7rem;
    }
    #Close {
        padding-bottom:23px;
        padding-top:150px;
        padding-right:62px;
        padding-left:62px;

    }
    #nav-bar {
        height:75px;
        width: 100%;
    }
    #ion-title {
        height: 22px;
        color: #313745;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-right: 76px;
        margin-top: 30px;
        margin-bottom:26px;
    }




}