page-add-trigger {

    #nav-bar {
        height:75px;
        width: 100%;
    }
    #ion-title {
       
        color: #313745;
        font-family: 'Avenir Rounded Demi', Arial, sans-serif;	
        font-size:18px;
        font-weight: 500;
        line-height: 22px;
    }

    .menu-togglebtn{
        background: url(../assets/imgs/Menu.png);
        background-repeat: no-repeat;
    }
    
    #cancel {
        height: 19px;
        width: 73.45px;
        color: #53A9ED;
        font-size: 16px;
        line-height: 19px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #text-line {
        height: 22px;
        width: 79%;
        color: #313745;
        font-family: 'Avenir Rounded Demi', Arial, sans-serif;
        font-size: 19px;
        font-weight: 100;
        line-height: 22px;
        padding-top: 49px;
        text-align: center;
        margin-left: 38px;
        margin-right:52px;

    }
    
    #trigger-input {
        height: 60px;
        width: 83%;
        background-color: #FAF4EA;
        margin-top: 55px;
        margin-right: 40px;
        margin-left: 33px;
    }
    #save-trigger {
        height: 60px;
        width: 69%;
        border-radius: 2px;
        background-color: #559AD1;
        font-size: 21px;
        font-family: 'Avenir Rounded Demi', Arial, sans-serif;	
        font-weight: 500;
        margin-top: 28px;
        margin-left:63px;
        margin-right: 62px;
        font-size:1.8rem;

    }
    input::placeholder {
        height:19px;
        font-size:18px;
        line-height:19px;
        padding-left:11px;
        font-family: 'Avenir Rounded Reg', Arial, sans-serif;
        letter-spacing:0px;
        padding-left:11px;
        color: #000000; 
    
    }

    .toolbar-title-ios{
        margin-top:10px !important;
        font-family: 'Avenir Rounded Demi', Arial, sans-serif !important;
        font-weight:100 !important;
    }

}
