page-scrapbook-memory {
    #ion-title {
        height: 22px;
        color: #313745;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size: 18px;
        font-weight: 500;
        float: right;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom:26px;
    }
    #backbtn {
        height: 19px;
        color:#53A9ED;
        font-family: Arial, Helvetica, sans-serif;
        font-size:16px;
        float:left;
        margin-left:10px;
        margin-top:28px;
        margin-bottom: 28px;
    }

    .help-logo{
        background-image: url('../assets/imgs/icon-help-now.png');
        background-size: cover;
        max-width: 100%;
        height:30px;
        width:45px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: auto;
        margin-right: auto;
        margin-top:-6px;
    }

    #help {
        height: 16px;
        color: rgb(246, 69, 69);;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-weight:700;
        font-size:13px;
        margin-top:10px;
        margin-right: 13px;
        margin-bottom: 13px;
    }
    #nav-bar {
        height:75px;
        width: 100%;
    }

   .card-ios{
    height: 260px;

   }

   #stored-title{
       font-size: 18px;
       padding-top:20px;
       font-family: 'Avenir Rounded reg', Arial, sans-serif;
       font-weight:700;
   }

   #youtubePlayButton{
    height:45px;
    width: 110px;
    border-radius: 4px;
    background-color: #559AD1;
    font-size:16px;
    color: #ffffff;
    font-family: 'Avenir Rounded demi', Arial, sans-serif;
    padding-top:8px;
    margin-top:-30px;
    padding-bottom:9px;
    margin-right:10px;
    margin-left:203px;
    
}

#mem-info{
    font-size:15px;
    margin-top:20px;
}

    #edit-btn {
        background-color:#559AD1;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size: 21px;
        height: 60px;
        width: 39%;
        border-radius: 4px;
        margin-top:15px;
        margin-left: 18px;
        margin-right: 28px;
    }
    #delete-btn {
        background-color:#559AD1;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size: 21px;
        height: 60px;
        width:49%;
        border-radius: 4px;
        margin-top:15px;
        margin-left: -30px;
  
    }

    .iFrame{
        margin-left:12px;
        margin-top:20px;
        margin-bottom:10px;
    }

    .toolbar-title-ios{
        margin-top:7px;
    }

}
