page-tour {

    #skip-btn{
        float:right;
        font-size:16px;
        border: -1px !important;
        background-color: transparent;
        margin-top: -319px;
        color: #559AD1;
        font-family: 'Avenir rounded demi';
    }
}
