page-bee-safe-plan {
    #nav-bar {
        height:75px;
        width: 100%;
    }

    #text-line-1 {
        font-size: 23px;
        line-height:22px;
        text-align: center;
        color: #313745;
        font-family: 'Avenir Rounded', Arial, sans-serif;
        margin-top: 49px;
        margin-left:53px;
        margin-right: 52px;
        font-weight: 500;
    }

    #feeling-option {
       font-size: 20px;
       line-height: 37px;
       color: #559AD1;
       font-family: 'Avenir Rounded demi', Arial, sans-serif;
       margin-left: 134px;
       margin-top: 35px;
    }

    #emoji-feeling {
        height: 50px;
        width: 50px;
        margin-left:-65px;
        margin-bottom: -20px;
        margin-right: 19px;
        
    }

    #help {
        height: 16px;
        color: #F57D31;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size:13px;
        margin-top:46px;
        margin-right: 14px;
        margin-bottom: 13px;
    }

    #ion-title {
        height:22px;
        font-family: 'Avenir Rounded demi', Arial, sans-serif;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin-top: 27px;
        margin-bottom:26px;
    }

}
