page-emergency-contact-modal {

    #text-line {
        height:24px;
        // width:390px;
        color: #313745;
        font-size:20px;
        font-family: 'Avenir Rounded Demi', Arial, sans-serif;
        line-height: 24px;
        text-align: center;
        padding-right:42px;
        padding-left:43px;
        padding-top:29px;
        padding-bottom:24px;
        font-weight:100;
    }

  
     #close-btn {
        height:60px;
     
        border-radius: 2px;
        background-color: #559AD1;
     
    }

    #Close {
        padding-bottom:23px;
        padding-top:150px;
        padding-right:62px;
        padding-left:62px;
        font-family: 'Avenir Rounded Demi', Arial, sans-serif;
    }

    #nav-bar {
        height:75px;
        width: 100%;
    }
    .toolbar-title-ios{
        margin-top:10px !important;
        font-family: 'Avenir Rounded Demi', Arial, sans-serif !important;
        font-weight:100 !important;
    }


}
