page-emergency-contact-modal {

    #text-line {
        height:24px;
        width:390px;
        color: #313745;
        font-size:20px;
        font-family: 'Avenir Rounded reg', Arial, sans-serif;
        line-height: 24px;
        text-align: center;
        padding-right:42px;
        padding-left:43px;
        padding-top:29px;
        padding-bottom:24px;
    }

  
     #close-btn {
        height:60px;
        width: 250px;
        border-radius: 2px;
        background-color: #559AD1;
     
    }

    #Close {
        padding-bottom:23px;
        padding-top:500px;
        padding-right:62px;
        padding-left:62px;
    }
    


}
