page-view-distractions {

    #nav-bar {
        height:75px;
        width: 100%;
    }

    #text-line {
        height:22px;
        font-size:17.5px;
        font-family: 'Avenir Rounded Demi', Arial, sans-serif;
        font-weight: 100;
        color: #313745;
        margin-top:31px;
        margin-left:25px;
    }

    .menu-togglebtn{
        background: url(../assets/imgs/Menu.png);
        background-repeat: no-repeat;
        margin-left: 15px;
    }
    #ion-title {
        height:22px;
        font-family: 'Avenir Rounded Demi', Arial, sans-serif;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin-top: 27px;
        margin-bottom:26px;
    }

    .toolbar-title-ios{
        margin-top:10px !important;
        font-family: 'Avenir Rounded Demi', Arial, sans-serif !important;
        font-weight:100 !important;
    }

    
    .help-logo{
        background-image: url('../assets/imgs/icon-help-now.png');
        background-size: cover;
        max-width: 100%;
        height:30px;
        width:45px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: auto;
        margin-right: auto;
        margin-top:-6px;
        color: rgb(246, 69, 69);
    }

    #help {
        height: 16px;
        color: rgb(246, 69, 69);
        font-family: 'Avenir Rounded Demi', Arial, sans-serif;
        font-weight:700;
        font-size:13px;
        margin-top:10px;
        margin-right: 13px;
        margin-bottom: 13px;
    }
    #distraction-title{
        font-size: 18px;
        font-family: 'Avenir Rounded', Arial, sans-serif;

        margin-left: 20px;
        margin-top: 25px;

    }
 
    #youtubePlayButton{
     height:45px;
     width: 110px;
     border-radius: 4px;
     background-color: #559AD1;
     font-size:16px;
     color: #ffffff;
     font-family: 'Avenir Rounded Demi', Arial, sans-serif;
     padding-top:8px;
     margin-top:-42px;
     padding-bottom:9px;
     margin-right:10px;
     margin-left:203px;
     
 }
 
 #distraction-info{
     font-size:16px;
     margin-top:10px;
     margin-left:20px;
     background-color: #ffffff;
     margin-bottom: 10px;
 }

 #weblink{
    margin-right: 150px;
    margin-left: 27px;
    color:#559AD1;
    font-weight:500;
    
 }


    

}
