<!--
  Generated template for the ViewDistractionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
        <ion-navbar id="nav-bar">
          <ion-buttons start>
              <!-- <button ion-button menuToggle left>
                  <ion-icon  name="menu"></ion-icon>
                </button> -->
          </ion-buttons>
            <ion-title id="ion-title">
              Distractions
            </ion-title>
            <ion-buttons end>
                <ion-col text-center>
                    <div (click)="gotoHelpNow()" class="help-logo">
                  <!-- <ion-img id="logo" src="assets/imgs/navlogo.png"></ion-img> -->
                  </div>
                </ion-col>
              <button ion-button (click)="gotoHelpNow()">
                <ion-icon id="help"name="">HELP</ion-icon>
              </button>
            </ion-buttons>
      
          </ion-navbar>
    </ion-header>


<ion-content padding>

  

  <h1 id="text-line"> Try one of the following distractions. </h1>




<ion-col>
  <ion-row>
    <ion-card *ngFor="let distraction of items; let i = index;"> 
      <h2 id="distraction-title">{{distraction.distractionTitle}}</h2>
      <br>
      <ion-row>
          <button id="youtubePlayButton"(click)="openVideo()"><ion-icon name="ios-play"></ion-icon> PLAY</button>
          <iframe class="iFrame" *ngIf="trustedVideoUrl" width="300" height="150" [src]="trustedVideoUrl" frameborder="0" allowfullscreen></iframe>
      </ion-row>
   

      <ion-row>
        <button id="distraction-info">{{distraction.distraction}}</button>
      </ion-row>
     <ion-row>
       <h2 id="weblink">{{distraction.websiteLink}}</h2>
     </ion-row>
      <br>
    </ion-card>
  </ion-row>
</ion-col>




</ion-content>
