<!--
  Generated template for the DistractionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar id="nav-bar">
          <ion-title id="ion-title">
              Distractions
            </ion-title>
            <ion-buttons end>
                <ion-col text-center>
                    <div (click)="gotoHelpNowPage()" class="help-logo">
                  <!-- <ion-img id="logo" src="assets/imgs/navlogo.png"></ion-img> -->
                  </div>
                </ion-col>
              <button ion-button (click)="gotoHelpNowPage()">
                <ion-icon id="help" name="">HELP</ion-icon>
              </button>
            </ion-buttons>
        </ion-navbar>
</ion-header>

<ion-content padding>

    
    <ion-row>
        <div class="triggers-info">
            <p id="text-line">My Distraction <br/> Techniques
                </p>
                
        </div>
        <ion-icon name="ios-information-circle-outline" id="info-icon" style="color:#559ad1; height:20px; width:20px; font-weight:bold;" tappable (click)="openModal()">
          </ion-icon>
        
          <div>
      <button ion-button id="add" (click)="gotoAddDistractionPage()">
          <ion-icon id="plus" name="md-add"></ion-icon> 
         ADD NEW
      </button>
      </div>



      
      </ion-row>
    
        <ion-list class="animate-in-primary">

        <ion-item-sliding id="ion-card" *ngFor="let distraction of items; let i = index;">
          <ion-item id="trigger-list"> 
              <div>
                  <img class="ion-img-emoji" *ngIf="distraction.emojis" src="{{distraction.emojis}}">
                  <h1 style="font-size: 16px;">{{distraction.distractionTitle}} </h1>
                  </div>
            
                 

          </ion-item>

          <ion-item-options>
              <button ion-button id="Edit" (click)="gotoEditPage(i)">Edit</button>
            <button ion-button expandable id="Delete" (click)="deleteItem(items, i)">
             Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
     
      </ion-list>


</ion-content>
